#page_header_cont .back {
    background: #ff0000;
}
.top_nav_btn:hover {
    background-color: #000000;
}
input.text.ts_input {
    background-color: #000000;
    color: #ffffff;
}
.top_nav_link:hover {
    background-color: #0000ff;
}